<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.train.dao.RoleDao">

	<!-- 通过<resultMap>映射实体类属性名和表的字段名对应关系 -->
	<resultMap id="RoleMapping" type="Role">
		<!-- id属性来映射主键字段 -->
		<id column="id" property="id" javaType="Long" />
		<!-- result属性映射非主键字段 -->
		<result column="name" property="name" javaType="String" />
		<result column="enname" property="enname" javaType="String" />
		<result column="role_type" property="roleType" javaType="String" />
		<result column="data_scope" property="dataScope" javaType="String" />
		<result column="is_sys" property="isSys" javaType="String" />
		<result column="useable" property="useable" javaType="String" />
		<result column="create_user" property="createUser" javaType="String" />
		<result column="create_time" property="createTime" javaType="Date" />
		<result column="update_user" property="updateUser" javaType="String" />
		<result column="update_time" property="updateTime" javaType="Date" />
		<result column="version" property="version" javaType="String" />
		<result column="del_flag" property="delFlag" javaType="String" />
	</resultMap>

	<select id="selectRoleALL" resultMap="RoleMapping">
		SELECT * from sys_role
	</select>
	<select id="selectRoleById" resultMap="RoleMapping">
		SELECT * from sys_role where id = #{id}
	</select>
	<insert id="addRole" parameterType="Role">
		insert into sys_role (
		name,
		enname,
		role_type,
		data_scope,
		is_sys,
		useable,
		create_by,
		create_date,
		update_by,
		update_date,
		remarks,
		del_flag,
		version
		) values (
		#{name},
		#{enname},
		#{roleType},
		#{dataScope},
		#{isSys},
		#{useable},
		#{createBy},
		now(),
		#{updateBy},
		now(),
		#{remarks},
		#{delFlag},
		#{version}
		)
	</insert>
	<delete id="delRoleById" parameterType="int">
		delete from sys_role where id = #{id}
	</delete>
	<update id="updateById" parameterType="Role">
		UPDATE sys_role 
		<set>
		<if test="null != roleType and '' != roleType">
		role_type = #{roleType},
		</if>
		<if test="null != enname and '' != enname">
		enname = #{enname},
		</if>
		<if test="null != name and '' != name">
		name=#{name},
		</if>
		<if test="null != isSys and '' != isSys">
		is_sys=#{isSys},
		</if>
		<if test="null != useable and '' != useable">
		useable=#{useable},
		</if>
		<if test="null != remarks and '' != remarks">
		remarks=#{remarks},
		</if>
		</set>
		 WHERE  id =#{id}
		
	</update>
</mapper>