<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.train.dao.TrainDao">

	<insert id="addTraininfo" parameterType="Traininfo">
		insert into train_info (
			train_no,
			start_station,
			arrival_station,
			start_time,
			arrival_time,
			type,
			runtime,
			mile
		)
		values (
			#{train_no},
			#{start_station},
			#{arrival_station},
			#{start_time},
			#{arrival_time},
			#{type},
			#{runtime},
			#{mile}
		)
	</insert>

	<select id="getTraininfoList" resultType="Traininfo">
		select * from train_info
	</select>

	<delete id="deleteTraininfoById" parameterType="int">
		DELETE from train_info where id = #{id}
	</delete>

	<select id="getTraininfoDetail" parameterType="int" resultType="Traininfo">
		select * from train_info where id = #{id}
	</select>
	
	<update id="updateById" parameterType="Traininfo">
		UPDATE train_info 
		<set>
		<if test="null != train_no and '' != train_no">
		train_no = #{train_no},
		</if>
		<if test="null != start_station and '' != start_station">
		start_station = #{start_station},
		</if>
		<if test="null != arrival_station and '' != arrival_station">
		arrival_station=#{arrival_station},
		</if>
		<if test="null != start_time and '' != start_time">
		start_time=#{start_time},
		</if>
		<if test="null != type and '' != type">
		type=#{type},
		</if>
		<if test="null != mile and '' != mile">
		mile=#{mile},
		</if>
		</set>
		 WHERE  id =#{id}
		
	</update>



</mapper>